[submodule "JOM-Sprint12"]
	path = JOM-Sprint12
	url = https://github.com/nickunderhill/JOM-Sprint12
[submodule "Sprint13"]
	path = Sprint13
	url = https://github.com/nickunderhill/Sprint13
[submodule "JOM-Sprint14"]
	path = JOM-Sprint14
	url = https://github.com/nickunderhill/JOM-Sprint14
[submodule "JOM-Sprint15"]
	path = JOM-Sprint15
	url = https://github.com/nickunderhill/JOM-Sprint15
[submodule "JOM-Sprint16"]
	path = JOM-Sprint16
	url = https://github.com/nickunderhill/JOM-Sprint16.git
[submodule "JOM-Sprint17"]
	path = JOM-Sprint17
	url = https://github.com/nickunderhill/JOM-Sprint17.git
[submodule "JOM-Sprint18"]
	path = JOM-Sprint18
	url = https://github.com/nickunderhill/JOM-Sprint18.git
